[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name="mikeio"
version="1.4.0"
dependencies = [
    "mikecore>=0.2.1",
    "numpy>=1.15.0",  # first version with numpy.quantile
    "pandas>1.3",
    "scipy>1.0",
    "PyYAML",
    "tqdm",
    "xarray",
]

authors = [
  { name="Henrik Andersson",email="jan@dhigroup.com"},
  { name = "Jesper Sandvig Mariegaard", email="jem@dhigroup.com" }
]
description="A package that uses the DHI dfs libraries to create, write and read dfs and mesh files."
license="BSD-3-Clause"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "License :: OSI Approved :: BSD License",
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Scientific/Engineering",
]

[project.optional-dependencies]
dev = ["pytest",
       "black==22.3.0",
       "sphinx",
       "sphinx-rtd-theme",
       "myst-parser",
       "shapely",
       "pyproj",
       "xarray",
       "netcdf4",
       "matplotlib"]

test = ["pytest", "pytest-cov", "matplotlib!=3.5.0", "xarray","mypy"]

notebooks= [
            "nbformat",
            "nbconvert",
            "jupyter",
            "xarray",
            "netcdf4",
            "rasterio",
            "geopandas",
            "scikit-learn",
        ]

[project.urls]
"Homepage" = "https://github.com/DHI/mikeio"
"Bug Tracker" = "https://github.com/DHI/mikeio/issues"