# this file is only intended to be used by snyk for code scanning
contourpy==1.3.0
cycler==0.12.1
fonttools==4.54.1
kiwisolver==1.4.7
matplotlib==3.9.2
mikecore==0.2.2
numpy==2.1.2
packaging==24.1
pandas==2.2.3
pillow==11.0.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
pyyaml==6.0.2
scipy==1.14.1
six==1.16.0
tqdm==4.66.5
tzdata==2024.2
xarray==2024.10.0
