name: Downstream test

on:
  push:
    branches: [ main]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        
    - name: Install mikeio
      run: |
        pip install .
    - name: Test fmskill from github
      run: |
        git clone --depth 1 https://github.com/DHI/fmskill.git
        cd fmskill
        pip install .[test]
        pytest
