name: Scheduled test

on:
  workflow_dispatch:

  schedule:
    - cron: '0 5 */3 * *'

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.10", "3.14"]
        exclude:
          - os: windows-latest
            python-version: "3.14"
        include:
          - os: windows-latest
            python-version: "3.13"

    steps:
    - uses: actions/checkout@v4
    - name: Set up uv
      uses: astral-sh/setup-uv@v6
      with:
        python-version: ${{ matrix.python-version }}
        enable-cache: true
    - name: Install dependencies
      run: uv sync --group test --no-dev

    - name: Test
      run: make test
